*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;

}

body{
    background-color: #Fff;
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    padding: 0;
    max-width: 1366px;
}

/* sticky styles */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* navbar */
.title_bar {
    width: 100%;
    max-width: 1366px;
    background-color: #Fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
}

.OG_name {

  font-size: 1.3em;
  color: rgb(34, 37, 49);
  font-style: italic;
}

.items {
  align-items: center;
}

.items__holder {
  gap: 1em;
  justify-content: space-between;
  display: flex;
  list-style: none;
}

.items_link {
  font-size: 1.2em;
  padding: 0.25em 1em;
  /* border-radius: 100px; */
  color: black;
  text-decoration: none;
}

.items_link:hover,
.items_link:focus {
  border-radius: 100px;
  border: 0.1em solid #fbaa44;
  color: #fbaa44;
  padding: 0.25em 1em;
  transition: .3s ease;
  cursor: pointer;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  margin-top: 1em;
  display: flex;
  justify-content: space-around;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 12rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(68, 63, 63) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1:hover,
.btn-color-2:hover {
  background: #fbaa44;
  color: black;
}

.btn-color-1:hover {
  background: #fbaa44;
  color: black;
  border: 1px solid black;
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover,
.btn-color-2:hover {
  border: black 0.1rem solid;
}

.btn-container {
  gap: 1.5rem;
}

/*first page*/
.profile_1st-pg {
  /* background-color: #F0F9FF; */
  padding: 2.8em 0;
  margin: 0 4em;
  /* border: 1px solid #fbaa44; */
  display: flex;
  justify-content: space-around;
  margin-top: 0;
}

.sticky+.profile_1st-pg {
  margin-top: 7em;
}

.profile_1st-pg__pic-container>img {
  max-width: 100%;
}

.profile_1st-pg__pic-container {
  display: flex;
  max-width: 40%;
  width: 400px;
  margin: auto 0;
}

.profile_1st-pg__text-p1 {
  text-transform: uppercase;
  padding: 0.35em;
  font-weight: 800;
  font-size: 2.5rem;
  letter-spacing: 0.1em;
  font-style: italic;
  color: #ffffff;
  background: #F0F9FF;
  background: linear-gradient(90deg, #fbaa44, #fbaa44, #ffffff 106%);
}

.profile_1st-pg__text {
  line-height: 0.5em;
  align-self: center;
  text-align: center;
  font-size: 1.5em;
}

.profile_1st-pg__text p {
  font-weight: 600;
}

.profile_1st-pg__text-p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.profile_1st-pg__name {
  font-size: 3rem;
  text-align: center;
}

/* infinite scroll*/
.scroll-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  margin: 2.5em 0;
}

.scroll-content {
  background-color: #fbaa44;
  display: inline-block;
  animation: scroll 25s linear infinite;
  padding: 0.5em 0;
}

.scroll-item {
  display: inline-block;
  padding: 0px;
  background-color: #fbaa44;
  margin: 0;
  font-size: 1.8em;
  color: #ffffff;
  text-transform: uppercase;
  font-style: italic;
}

@keyframes scroll {
  0% {
    transform: translateX(1);
  }

  100% {
    transform: translateX(-20%);
  }
}

.scroll-container:before,
.scroll-container:after {
  position: relative;
  top: 676px;
  width: 400px;
  min-height: 30%;
  content: "";
  z-index: 2;
}

.scroll-container:before {
  left:0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.scroll-container:after {
  right:0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.scroll-container:hover .scroll-content {
  cursor: pointer;
  animation-play-state: paused;
}

/* second page */

#profile {
  border: 1px solid;
  background-color: #fbaa44;
  color: white;
  padding: 150px;
  margin: 2em 4em;
}

.vertical-heading h1 {
  font-style: italic;
  text-transform: uppercase;
  font-size: 2em;
  border-bottom: 1px solid #F0F9FF;
}

.description {
  text-align: left;
  font-weight: 500;
  font-size: 1.4em;
}

.w_letter {
  font-size: 1.5em;
  font-weight: 500;
}

/*Third page*/
.container {
  width: 100%;
  padding: 25px 10%;
  margin: 0em 0em 4em 0em;
}

.title h1 {
  font-family: "Roboto", sans-serif;
  color: #fbaa44;
  font-style: italic;
  border-bottom: 2px solid;
  font-size: 2em;
}

.col .contents {
  padding: 0 30px;
  border-left: 2px solid;
}

.col .contents .box {
  line-height: 0.7;
  font-weight: 300;
  position: relative;
  padding: 10px;
  border-radius: 0px 100px 100px 100px;
  border: 2px solid #fbaa44;
  color: black;
  cursor: pointer;
  transition: all 0.4s;
  margin: 25px 0 15px 0;
}

.box_holder {
  line-height: 0.8em;
  margin: 0em 4em 0 4em;
}

.img_timer.img_timer {
  max-width: 2.3%;
  margin-right: 0.5em;
}

.col .contents .box:hover {
  border: 1px solid black;
  background-color: #fbaa44;
  transition: all 0.4s ease;
}

.col .contents .box::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  right: calc(100% + 22px);
  top: -3px;
  background-color: #fbaa44;
  border: 3px solid white;
}

.box h4 {
  position: relative;
  font-size: 1.2em;
}

.box h3 {
  font-size: 20px;
}

.box p {
  font-size: 20px;
}

/* fourth page */
#skills {
  /* border: 2px solid #fbaa44; */
  margin: 0em 4em 2em 4em;
  padding: 40px 20px;
  min-height: 500px;
}

.skills--heading>h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  font-style: italic;
  text-transform: uppercase;
  color: #fbaa44;
  border-bottom: 2px solid #fbaa44;
}

.mother_container {
  justify-content: space-between;
  display: flex;
}


.skill-category--web_tech {
  width: 49%;
}

.other-holder--tech {
  width: 49.95%;
}

.skill-name {
  font-size: 1.4em;
  font-weight: 600;
  width: 50px;
  margin-left: 1em;
}

.progress-bar {
  background-color: #ddd;
  border-radius: 4px;
  overflow: hidden;
  flex-grow: 1;
  margin: 0 1rem;
  height: 0.5rem;
}

.progress {
  background-color: #fbaa44;
  height: 100%;
}

.percentage {
  font-weight: 800;
  font-size: 11px;
  border-radius: 120px;
  border: 2px solid #fbaa44;
  padding: 0.5em;
  width: 34px;
  height: 34px;
  text-align: right;
  color: white;
  background-color: #fbaa44;
}

.drag-icon>img {
  width: 40px;
  background-color: #ccc;
  padding: 0.4rem;
  border-radius: 4px;
}

.skill-category--toolsNTech,
.skill-category--otherLang {
  width: 100%;
}

.skill-category--web_tech+.other-holder {
  margin-left: 5em;
}

.toolsNTech--boxes,
.otherlan--boxes {
  display: flex;

}

.skill-category>h3 {
  background-color: #fbaa44;
  color: #ffffff;
  text-transform: uppercase;
  font-style: italic;
  font-size: 1.5em;
}

.skill {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}


.skill-box {
  display: inline-block;
  background-color: #f4f4f4;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 4px;
  width: calc(100% - 2rem);
  box-sizing: border-box;
  text-align: center;
  font-weight: 600;
  font-size: 1.3em;
}

/* contact Me */
.contact--container {
  width: 100%;
  padding: 25px 10%;
  margin: 0 auto;
}

.contact--container h1 {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: #fbaa44;
  font-style: italic;
  border-bottom: 2px solid;
  font-size: 2em;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
  color: black;
  border: 1px solid black;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #fbaa44;
  color: #ffffff;
  border: none;
  transition: 0.3sec ease;
}

#response-message {
  text-align: center;
  margin-top: 20px;
}

.spinner {
  display: none;
  margin: 20px auto;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #fbaa44;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.container--footer {
  width: 100%;
  padding: 25px 10%;
  margin: 2em 0em;
}

footer {
  border: 1px solid black;
  margin: 0;
  background: #fcb156;
}

footer .container--footer header {
  font-size: 1.3em;
  text-align: center;
  color: #ffffff;
}

.divider {
  background-color: black;
  padding: 0.01em;
}

.flex-container--footer_menu-heading {
  border-bottom: 1px solid white;
  text-align: center;
  color: #fff;
}

.flex-container--footer {
  display: flex;
  justify-content: space-between;
}

.items__holder--footer {
  list-style: none;
  line-height: 2em;
}

.items_link--foo {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2em;
  transition: color 0.3s, transform 0.3s;
}

.items__holder--footer li a:hover {
  color: black;
  border-bottom: 1px solid black;
  opacity: 90%;
}

.flex-container--footer .clock {
  align-content: flex-end;
  color: #fff;
  font-size: 5em;
  font-weight: bold;
}

.socials-link {
  list-style: none;
  width: 50%;
  margin: 1em auto;
  display: flex;
  justify-content: space-around;
}

.socials-link li a {
  text-decoration: none;
  font-size: 1.1em;
  color: #Fff;
  transition: color 0.3s, transform 0.3s;
}

.socials-link a:hover {
  color: black;
  transform: scale(2.1);
}

.text--footer {
  color: #fff;
  text-align: center;
}
